.button{
    
    width: 30px;
    height: 30px;
    border: 0;
    background-color: hsl(36, 100%, 99%);
    
    
}
.button hr{
    margin:4px;
    border: 1px solid black
}
.button img{
    width: 30px;
    height: 20px;
    margin-top: 8px;
}
@media (min-width:1000px){
    .button{
        display: none;
    }
}