.sidebar{
    position:fixed;
    justify-self: flex-end;
    top:0;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color:hsl(36, 100%, 99%) ;
    width: 70%;
    border: 1px   ;
    box-shadow: 1px 1px 2px 2px hsl(233, 8%, 79%) ;
    z-index: 10px;
    padding-top: 52px;
    right: -100%;
    transition: all 1s;
   
    
}
.sidebar-active{
    right: 0;
}

.side-button{
    width: 30px;
    height: 30px;
    border: 0;
    background-color: hsl(36, 100%, 99%);
    margin-top: 25px;
    margin-right: 40px;
    margin-bottom: 60px;
}
.item-bar{
    list-style: none;
    margin-left: 25px;
    color: hsl(0, 0%, 23%);
    font-size: 0.9rem;
    font-weight: 400;
}
.side-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 50%;
}
.side-button img{
    width: 20px;
    height: 20px;
    justify-self: center;
    
}